body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registro-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 25rem;
    box-sizing: border-box;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input, form button {
    margin-bottom: 1rem;
    padding: 0.625rem;
    font-size: 1rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
    box-sizing: border-box;
}

form button {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
    transition: background-color 0.3s ease;
    border: none;
}

form button:enabled {
    background-color: #007bff;
    cursor: pointer;
}

input:focus, button:focus {
    outline: none;
    border-color: #007bff;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: -0.875rem;
    margin-bottom: 1rem;
}

@media (max-width: 48rem) {
    .registro-container {
        padding: 1.5rem;
        max-width: 80%;
    }

    form input, form button {
        font-size: 0.875rem;
        padding: 0.5rem;
    }
}

@media (max-width: 25rem) {
    .registro-container {
        padding: 1rem;
        max-width: 90%;
    }

    form input, form button {
        font-size: 0.75rem;
        padding: 0.375rem;
    }
}